<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Admin <small>Doanh thu</small></h3>
            </div>
            <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" class="demo-placeholder">
                <!--<canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>-->
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
                <h2>Top Campaign Performance</h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
                <div ng-repeat="item in lstHot">
                    <p>{{item.Name}}</p>
                    <div class="">
                       
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="clearfix"></div>
    </div>
</div>

