<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-4">
                <h3>Admin <small>Doanh thu</small></h3>
            </div>
            <!--<form action="/" method="post"></form>
            <div class="col-md-6 pull-right">
                <div class="row">
                    <div class="col-md-1">
                        Từ
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="fromDate" ng-model="fromDate.fromDate" value="" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        Đến
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="toDate" ng-model="toDate.toDate" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit"></button>
            </div>-->
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" class="demo-placeholder">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
                <h2>Top Sản phẩm bán chạy nhất</h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6" ng-repeat="item in lstHot">
                <div>
                    <p>{{item.Name}} ({{item.Quantity}} / {{item.Quantity + item.QuantityProduct}} ) </p>
                    <p></p>
                    <div class="">
                        <div class="progress progress_sm" style="width: {{(item.Quantity /(item.Quantity + item.QuantityProduct)) * 100}}%;">
                            <div class="progress-bar bg-green" style="background: blue;" role="progressbar" data-transitiongoal="100"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

