@using BigShop.Web.Models
@using BigShop.Web.Infrastructure.Core
@model PaginationSet<ProductViewModel>

@{
    ViewBag.Title = "BigShop.com - Sản phẩm";
    ViewBag.MetaKeyword = "Sản phẩm";
    ViewBag.MetaDescription = "Tất cả sản phẩm";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">Sản phẩm</a></li>
        <li class="active">Điện thoại</li>
    </ol>
</div>


<div class="container">
    <div class="row advertising">
        <div class="col-xs-6">
            <img src="~/Assets/Client/images/note8.png" class="img-responsive" />
        </div>
        <div class="col-xs-6">
            <img src="~/Assets/Client/images/reminot5.jpg" class="img-responsive" />
        </div>
    </div>
</div>

<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-9 prdt-left" id="divResult">
                @{
                    Html.RenderAction("CategoryList", new { sort = "", page = 1 });
                }
            </div>
            <div class="col-md-3 prdt-right">
                @{
                    Html.RenderAction("Sort");
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

