<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="15" />
  <add key="MaxPage" value="5" />
  <add key="SMTPPort" value="587" />
  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="FromEmailAddress" value="ngoclanspaknn@gmail.com" />
  <add key="FromEmailPassword" value="ngOclan94" />
  <add key="FromName" value="BigShop" />
  <add key="AdminEmail" value="quachthanghg@gmail.com" />
  <add key="CurrentLink" value="http://localhost:44300/" />

  <!--setting cho Ngân lượng-->
   <add key="MerchantId" value="55279"/>
  <add key="MerchantPassword" value="3007c5bcf12141ab4e7756a258e2e9d5"/>
  <add key="MerchantEmail" value="ngoclanspaknn@gmail.com"/>

  <add key="EnableBundles" value="false"/>
</appSettings>