<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh mục Nhóm người dùng</h3>
        </div>
        
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Admin <small>Thêm danh mục Nhóm người dùng</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate name="frmApplicationGroup" role="form" ng-submit="AddApplicationGroup()">
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Tên danh mục <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" ng-maxlength="25" ng-minlength="3" autofocus name="name" ng-model="applicationGroup.Name" required type="text">
                                <span ng-show="frmApplicationGroup.name.$error.minlength" class="">Tên nhóm</span>
                                <span ng-show="frmApplicationGroup.name.$error.maxlength" class="">Tên nhóm phải nhỏ hơn 25 ký tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Nhóm quyền <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label ng-repeat="item in applicationRoles" style="margin-left: 20px;">
                                    <input type="checkbox" checklist-model="applicationGroup.applicationRoles" checklist-value="item"> {{item.Description}}
                                </label>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-3">
                                <button ui-sref="applicationGroups" class="btn btn-default">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success" ng-disabled="frmApplicationGroup.$invalid">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>