@using Microsoft.AspNet.Identity
<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-6 top-header-left">
                <div class="drop">
                    <div class="box">
                        <select tabindex="4" class="dropdown drop">
                            <option value="" class="label">Dollar :</option>
                            <option value="1">Dollar</option>
                            <option value="2">Euro</option>
                        </select>
                    </div>
                    <div class="box1">
                        <select tabindex="4" class="dropdown">
                            <option value="" class="label">English :</option>
                            <option value="1">English</option>
                            <option value="2">French</option>
                            <option value="3">German</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 top-header-left">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="cart box_1">
                            <div class="drop">
                                <div class="box" style="width: 80px;">
                                    <a href="/tai-khoan" id="btnLogin">@User.Identity.Name</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="cart box_1">
                            <div class="drop">
                                <div class="box" style="width: 80px;">
                                    <button type="submit">Thoát</button>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }

                }
                else
                {
                    <div class="cart box_1">
                        <div class="drop">
                            <div class="box" style="width: 80px;">
                                <a href="/dang-nhap" id="btnLogin">Đăng nhập</a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="cart box_1" style="margin-left: 30px;">
                        <div class="drop">
                            <div class="box" style="width: 60px;">
                                <a href="/dang-ky">Đăng ký |</a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                }

                <div class="cart box_1" style="margin-left: 20px;">
                    <a href="checkout.html">
                        <div class="total">
                            <span class="">1(sp)</span>
                        </div>
                        <img src="~/Assets/Client/images/cart-1.png" alt="" />
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Giỏ hàng</a></p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*<div class="container">
        <center>
            <div class="popup_login">
                <div class="login_wrapper">
                    <button class="btn btn-danger pull-right" id="btnClose_form" type="button">X</button>
                    <section class="login_content">
                        <div class="form-horizontal">
                            @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "notify" }))
                            {

                                <h2>Login form</h2>
                                <div class="form-group">
                                    <input type="text" name="UserName" class="form-control" placeholder="Username" required="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Password" class="form-control" placeholder="password" required="">
                                </div>
                                <div class="notify">
                                    <p id="notify" style="color:red"></p>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Login</button>
                                </div>
                                <div class="form-group">
                                    <a href="#">Forgot password</a>
                                </div>
                                <div class="form-group">
                                    <a href="#">Create Account</a>
                                </div>
                            }

                        </div>
                    </section>
                </div>
            </div>

        </center>
    </div>

    <script>
        $("#btnLogin").click(function () {
            $(".popup_login").show();
        });
        $(".btnClose_form").click(function () {
            $(".popup_login").hide();
        });
        close_form
    </script>*@