@using BigShop.Web.Models
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@model RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản BigShop";
    ViewBag.MetaKeyword = "Đăng ký";
    ViewBag.MetaDescription = "Đăng ký tài khoản BigShop";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/dang-ky">Đăng ký thành viên</a></li>
            </ol>
        </div>
    </div>

    <div class="container">
        <br />
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                <h3>Đăng ký thành công</h3>
                <br />
                <p>Click <a href="/dang-nhap">vào đây</a> để đăng nhập</p>
            </div>
        }
        <div style="background: white; padding: 10px;">
            <div class="register-top heading">
                <h2 class="text-center">ĐĂNG KÝ THÀNH VIÊN</h2>
            </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(false, "")
            <div class="register-main">
                <div class="col-md-6 account-left">
                    <input placeholder="Họ và tên" type="text" name="FullName" tabindex="1" required>
                    <input placeholder="Email" type="text" name="Email" tabindex="2" required>
                    <input placeholder="Địa chỉ" type="text" name="Address" tabindex="2" required>
                    <input placeholder="Số điện thoại" type="text" name="PhoneNumber" tabindex="3" required>
                </div>
                <div class="col-md-6 account-left">
                    <input placeholder="Tài khoản" type="text" name="UserName" tabindex="2" required>
                    <input placeholder="Mật khẩu" type="password" name="Password" tabindex="4" required>
                    <input placeholder="Nhập lại mật khẩu" type="password" name="Password" tabindex="4" required>
                    @Html.MathCaptcha()
                </div>
                <div class="clearfix"></div>
                <div class="address submit">
                    <input type="submit" value="ĐĂNG KÝ">
                </div>
            </div>
                
            }
        </div>


    </div>
</div>

