<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh mục sản phẩm</h3>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Admin <small>Thêm danh mục sản phẩm</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate name="frmProduct" role="form" ng-submit="UpdateProduct()">
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Tên danh mục <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" ng-maxlength="50" ng-minlength="5" autofocus name="name" ng-change="getSeoTitle()" ng-model="product.Name" required type="text">
                                <span ng-show="frmProduct.name.$error.minlength" class="">Tên danh mục phải lớn hơn 5 ký tự</span>
                                <span ng-show="frmProduct.name.$error.maxlength" class="">Tên danh mục phải nhỏ hơn 50 ký tự</span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Tiêu đề SEO <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" ng-disabled="true" name="alias" ng-model="product.Alias" required="required" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Cấu hình <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="profile" ckeditor="ckeditorOptions" ng-model="product.Profile" required="required">
                                </textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Mô tả ngắn <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="description" ckeditor="ckeditorOptions" ng-model="product.Description" required="required">
                                </textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Tag 
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="tags" ng-model="product.Tags" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Giá nhập <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="originalPrice" ng-model="product.OriginalPrice" required="required" type="number">

                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Giá bán <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="price" ng-model="product.Price" required="required" type="number">

                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Giá khuyến mãi<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="promotion" ng-model="product.Promotion" type="number">

                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Bảo hành<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="warranty" ng-model="product.Warranty" type="number">

                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Số lượng<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="quantity" ng-model="product.Quantity" type="text">

                            </div>
                        </div>
                        <!--<div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Danh mục cha <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select name="categoryID" ng-model="product.CategoryID" class="form-control">
                                    <optgroup ng-repeat="item in parentCategories | filter:{ ParentID: null }" label="{{item.Name}}">
                                        <option value="{{child.ID}}" ng-repeat="child in parentCategories | filter:{ ParentID: item.ID }">{{child.Name}}</option>
                                    </optgroup>
                                </select>
                                <input type="hidden" name="categoryID" ng-model="product.CategoryID" />
                            </div>
                        </div>-->
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">


                                Danh mục cha <span class="required">*</span>
                                sp
                            </label>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select name="categoryID" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in parentCategories" class="form-control">
                                    <option value="">Danh mục gốc</option>
                                </select>
                                <input type="hidden" name="categoryID" ng-model="product.CategoryID" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Hình ảnh
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <input id="name" class="form-control col-md-5 col-xs-12" name="image" ng-model="product.Image" type="text">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Thêm hình ảnh
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <ul>
                                    <li ng-repeat="img in lstImages" style="text-decoration: none; display: inline;"><img ng-src="{{img}}" alt="Alternate Text" height="100" width="70" style="margin-left: 15px" /></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button class="btn btn-default" type="button" ng-click="ChooseMoreImages()">Chọn ảnh</button>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Mô tả nội dung <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="content" ckeditor="ckeditorOptions" ng-model="product.Content">
                            </textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Meta keyword <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="metaKeyword" ng-model="product.MetaKeyword" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Meta description <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="metaDescription" ng-model="product.MetaDescription" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Active
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="checkbox" name="status" ng-model="product.Status" ng-checked="product.Status">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Hiển thị trang chủ
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12">
                                Sản phẩm HOT
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="checkbox" name="homeFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-3">
                                <button ui-sref="products" class="btn btn-default">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success" ng-disabled="frmProduct.$invalid">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>