
@{
    ViewBag.Title = "Hủy đơn đặt hàng";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h1 class="text-center">ĐƠN HÀNG ĐÃ ĐƯỢC HỦY BỎ</h1>
            <h2 class="text-center">HỦY ĐƠN HÀNG THÀNH CÔNG TỪ NGÂN LƯỢNG. Click <a href="/">VÀO ĐÂY</a> để quay lại trang chủ</h2>
        </div>
    </div>
</div>
