
@{
    ViewBag.Title = "Giỏ hàng";
    ViewBag.MetaKeyword = "Giỏ hàng";
    ViewBag.MetaDescription = "Giỏ hàng tại BigShop";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
    </div>
</div>

<h2 class="text-center" id="notifycationShoppingCart" style="display: none">ĐẶT HÀNG THÀNH CÔNG</h2>

<div class="container">
    <div class="ckeckoutABC" id="ckeckoutABC" style="background: white;">
        <div class="ckeck-top heading">
            <h2>GIỎ HÀNG</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function (c) {
                        $('.close2').on('click', function (c) {
                            $('.cart-header1').fadeOut('slow', function (c) {
                                $('.cart-header1').remove();
                            });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function (c) {
                        $('.close3').on('click', function (c) {
                            $('.cart-header2').fadeOut('slow', function (c) {
                                $('.cart-header2').remove();
                            });
                        });
                    });
                </script>
                <div class="cartContent">
                    <table class="table table-bordered table-hover table-responsive-xl">
                        <thead>
                            <tr class="info">
                                <th style="width: 20%">Hình ảnh</th>
                                <th style="width: 20%">Sản phẩm</th>
                                <th style="width: 20%">Giá</th>
                                <th style="width: 20%">Số lượng</th>
                                <th style="width: 20%">Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cartBody"></tbody>
                    </table>
                    <div class="pull-right">
                        Tổng tiền: <label id="lblTotalOrder"> VNĐ</label>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="btnContinue">Tiếp tục mua hàng</button>
                        <button class="btn btn-success" id="btnCheckOut">Thanh toán</button>
                        <button class="btn btn-danger" id="btnDeleteAll">Xóa giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="checkout" style="display: none">
    <div class="container">

        <div class="row" style="">
            <center>
                <div class="col-xs-12" style="padding: 40px; background: white">
                    <h4>THANH TOÁN</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            @if (Request.IsAuthenticated)
                            {
                                <input type="checkbox" name="cbkUserLogin" id="cbkUserLogin" /> <lable>Sử dụng thông tin đăng nhập</lable>
                            }
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Họ và tên:  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtFullName" class="form-control col-md-7 col-xs-12" ng-disabled="true" name="FullName" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Email:  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtEmail" class="form-control col-md-7 col-xs-12" ng-disabled="true" name="Email" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Địa chỉ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtAddress" class="form-control col-md-7 col-xs-12" ng-disabled="true" name="Address" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Số điện thoại <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtPhoneNumber" class="form-control col-md-7 col-xs-12" ng-disabled="true" name="PhoneNumber" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Hình thức thanh toán <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="radio" name="paymentMethod" id="rdCash" value="CASH" checked /> Tiền mặt
                                <input type="radio" name="paymentMethod" id="rdNL" value="NL" /> Ngân lượng
                                <input type="radio" name="paymentMethod" id="rdBank" value="ATM_ONLINE" /> Thẻ ngân hàng
                                <input type="radio" name="paymentMethod" id="rdVS" value="VS" /> Thẻ VISA
                                <input type="radio" name="paymentMethod" id="rdSC" value="SC" /> Ship COD
                                <input type="radio" name="paymentMethod" id="rdTC" value="TG" /> Trả góp
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="nganluongContent" class="boxContent" style="display:none;">
                                        <p>
                                            Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                                            Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                                            <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                                        </p>
                                    </div>
                                    <div id="bankContent" class="boxContent" style="display:none;">
                                        Danh sách ngân hàng nội địa:
                                        <ul class="cardList clearfix">

                                            <li class="bank-online-methods ">
                                                <label for="vcb_ck_on">
                                                    <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                                    <input type="radio" ID="VCB" GroupName="bankcode" name="NH" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="vnbc_ck_on">
                                                    <i class="DAB" title="Ngân hàng Đông Á"></i>
                                                    <input type="radio" ID="DAB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="tcb_ck_on">
                                                    <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                                    <input type="radio" ID="TCB" GroupName="bankcode" />
                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_mb_ck_on">
                                                    <i class="MB" title="Ngân hàng Quân Đội"></i>
                                                    <input type="radio" ID="MB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="shb_ck_on">
                                                    <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                                    <input type="radio" ID="SHB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_vib_ck_on">
                                                    <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                                    <input type="radio" ID="VIB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_vtb_ck_on">
                                                    <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                                    <input type="radio" ID="ICB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_exb_ck_on">
                                                    <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                                    <input type="radio" ID="EXB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_acb_ck_on">
                                                    <i class="ACB" title="Ngân hàng Á Châu"></i>
                                                    <input type="radio" ID="ACB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_hdb_ck_on">
                                                    <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                                    <input type="radio" ID="HDB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_msb_ck_on">
                                                    <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                                    <input type="radio" ID="MSB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_nvb_ck_on">
                                                    <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                                    <input type="radio" ID="NVB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_vab_ck_on">
                                                    <i class="VAB" title="Ngân hàng Việt Á"></i>
                                                    <input type="radio" ID="VAB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_vpb_ck_on">
                                                    <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                                    <input type="radio" ID="VPB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_scb_ck_on">
                                                    <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                                    <input type="radio" ID="SCB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="ojb_ck_on">
                                                    <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                                    <input type="radio" ID="OJB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="bnt_atm_pgb_ck_on">
                                                    <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                                    <input type="radio" ID="PGB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="bnt_atm_gpb_ck_on">
                                                    <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                                    <input type="radio" ID="GPB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="bnt_atm_agb_ck_on">
                                                    <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                                    <input type="radio" ID="AGB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="bnt_atm_sgb_ck_on">
                                                    <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                                    <input type="radio" ID="SGB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="bnt_atm_nab_ck_on">
                                                    <i class="NAB" title="Ngân hàng Nam Á"></i>
                                                    <input type="radio" ID="NAB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                            <li class="bank-online-methods ">
                                                <label for="sml_atm_bab_ck_on">
                                                    <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                                    <input type="radio" ID="BAB" GroupName="bankcode" />

                                                </label>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                                Nội dung <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="txtMessage" class="form-control" name="message" required="required"></textarea>
                            </div>
                        </div>
                    </form>
                    <div>
                        <p style="display: none" class="alert alert-danger" id="notifycationFail"></p>
                    </div>
                    <div class="address submit">
                        <button class="btn btn-success" id="btnCreateOrder">Thanh toán</button>
                    </div>
                </div>
            </center>

            @*<div class="col-md-6" style="padding: 40px; background: white">
                    <h4>THÔNG TIN THANH TOÁN </h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12" for="name">
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p style="color: red" id="txtFullNameInfo"></p>
                                <p style="color: red" id="txtEmailInfo"></p>
                                <p style="color: red" id="txtAddressInfo"></p>
                                <p style="color: red" id="txtPhoneNumberInfo"></p>
                                <p style="color: red" id="paymentMethodInfo"></p>
                                <div class="cartContentInfo" style="display: none">
                                    <table class="table table-bordered table-hover table-responsive-xl">
                                        <thead>
                                            <tr class="info">
                                                <th style="width: 20%">Hình ảnh</th>
                                                <th style="width: 20%">Sản phẩm</th>
                                                <th style="width: 20%">Giá</th>
                                                <th style="width: 20%">Số lượng</th>
                                                <th style="width: 20%">Thành tiền</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="cartBody"></tbody>
                                    </table>
                                    <div class="pull-right">
                                        Tổng tiền: <label id="lblTotalOrder"> VNĐ</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>*@

        </div>

        @*<div class="register-main">
                <div class="col-md-6 col-md-offset-3 account-left">
                    <form method="post" id="frmPayment">
                        @if (Request.IsAuthenticated)
                        {
                            <input type="checkbox" name="cbkUserLogin" id="cbkUserLogin" /> <lable>Sử dụng thông tin đăng nhập</lable>
                        }

                        <input placeholder="Họ tên" type="text" name="FullName" id="txtFullName" required>
                        <input placeholder="Email" type="email" name="Email" id="txtEmail" required>
                        <input placeholder="Địa chỉ" type="text" name="Address" id="txtAddress" required>
                        <input placeholder="Số điện thoại" type="number" name="PhoneNumber" id="txtPhoneNumber" required>
                        <textarea class="form-control" id="txtMessage"></textarea>

                    </form>
                    <div class="address submit">
                        <button class="btn btn-success" id="btnCreateOrder">Thanh toán</button>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>*@


    </div>
</div>

<script id="templateCart" type="x-tmpl-mustache">
    <tr>
        <td><img src="{{ProductImage}}" class="img-responsive" alt="" height="80" width="50"></td>
        <td>{{ProductName}}</td>
        <td class="hidden">{{ProductPrice}}</td>
        <td>{{ProductPriceF}} VNĐ</td>
        <td><input type="number" class="txtQuantity form-control" data-price="{{ProductPrice}}" data-id="{{ProductID}}" value="{{ProductQuantity}}" /></td>
        <td id="amount_{{ProductID}}">{{Amount}} VNĐ</td>
        <td><button class="btn btn-xs btn-danger btnDeleteItem" data-id="{{ProductID}}">X</button></td>
    </tr>
</script>

@section FooterJS{
    <script src="~/Assets/Client/js/outFocus.js"></script>
}