
@{
    ViewBag.Title = "Giỏ hàng";
    ViewBag.MetaKeyword = "Giỏ hàng";
    ViewBag.MetaDescription = "Giỏ hàng tại BigShop";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
    </div>
</div>

<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>GIỎ HÀNG</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function (c) {
                        $('.close2').on('click', function (c) {
                            $('.cart-header1').fadeOut('slow', function (c) {
                                $('.cart-header1').remove();
                            });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function (c) {
                        $('.close3').on('click', function (c) {
                            $('.cart-header2').fadeOut('slow', function (c) {
                                $('.cart-header2').remove();
                            });
                        });
                    });
                </script>
                <div class="cartContent">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="info">
                                <th style="width: 20%">Hình ảnh</th>
                                <th style="width: 20%">Sản phẩm</th>
                                <th style="width: 20%">Giá</th>
                                <th style="width: 20%">Số lượng</th>
                                <th style="width: 20%">Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cartBody"></tbody>
                    </table>
                    <div class="pull-right">
                        Tổng tiền: <label id="lblTotalOrder"> VNĐ</label>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="btnContinue">Tiếp tục mua hàng</button>
                        <button class="btn btn-success" id="btnCheckOut">Thanh toán</button>
                        <button class="btn btn-danger" id="btnDeleteAll">Xóa giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="checkout" style="display: none">
    <div class="container">

        <div class="register-top heading">
            <h2 class="text-center">THANH TOÁN</h2>
        </div>


        <div class="register-main">
            <div class="col-md-6 col-md-offset-3 account-left">
                <form method="post" id="frmPayment">
                    @if (Request.IsAuthenticated)
                    {
                        <input type="checkbox" name="cbkUserLogin" id="cbkUserLogin" /> <lable>Sử dụng thông tin đăng nhập</lable>
                    }

                    <input placeholder="Họ tên" type="text" name="FullName" id="txtFullName" required>
                    <input placeholder="Email" type="text" name="Email" id="txtEmail" required>
                    <input placeholder="Địa chỉ" type="text" name="Address" id="txtAddress" required>
                    <input placeholder="Số điện thoại" type="text" name="PhoneNumber" id="txtPhoneNumber" required>
                    <textarea class="form-control" id="txtMessage"></textarea>
                    <div class="address submit">
                        <button class="btn btn-success" id="btnCreateOrder">Thanh toán</button>
                    </div>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>


    </div>
</div>

<script id="templateCart" type="x-tmpl-mustache">
    <tr>
        <td><img src="{{ProductImage}}" class="img-responsive" alt="" height="80" width="50"></td>
        <td>{{ProductName}}</td>
        <td class="hidden">{{ProductPrice}}</td>
        <td>{{ProductPriceF}} VNĐ</td>
        <td><input type="number" class="txtQuantity form-control" data-price="{{ProductPrice}}" data-id="{{ProductID}}" value="{{ProductQuantity}}" /></td>
        <td id="amount_{{ProductID}}">{{Amount}} VNĐ</td>
        <td><button class="btn btn-xs btn-danger btnDeleteItem" data-id="{{ProductID}}">X</button></td>
    </tr>
</script>